* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: orange;
}
.gal {
  width: 100vw;
  height: 300px;
  margin-top: 3em;
}
.box {
  height: 250px;
  width: 500px;
  border: solid 3px orange;
  border-radius: 5px;
  margin: auto;
}
.image {
  height: 100%;
  width: 100%;
}
.text {
  color: orange;
  text-align: center;
  padding-top: 1em;
}
.buttonContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.button {
  height: 50px;
  width: 100px;
  margin: 1em;
  color: orange;
}
.input {
  margin: auto;
}
.container {
  width: 100vw;
}
